/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    min-height: 100%;
    margin: 0;
}

i {
    transition: all 0.3s;
}

a {
    transition: all 0.3s;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

div {
    transition: all 0.3s;
}

span {
    transition: all 0.3s;
}

label {
    font-family: Poppins, serif;
    font-size: 3vh;

    text-align: center;
}

input {
    margin-bottom: 2vh;

    font-family: Poppins, serif;
}

textarea {
    resize: none;

    font-family: Poppins, serif;
}

.body-container{
    display: flex;
    background-color: white;
}

.main-container {
    height: 100%;
    width: 100%;

    padding: 20px;
}

.context-container {
    width: 100%;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.drill-create-form {
    display: flex;

    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.drill-create-input-div {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    flex-grow: 1;

    text-align: center;
}

.spacing-5-div {
    display: flex;

    flex-basis: 4%;
}

.spacing-10-div {
    display: flex;

    flex-basis: 5%;
}

.drill-create-form-30-field {
    display: flex;

    flex-basis: 30%;
}

.drill-create-form-50-field {
    display: flex;

    flex-basis: 45%;
}

.drill-create-form-100-field {
    display: flex;

    flex-basis: 100%;
}

.drill-create-submit-button-text{
    font-family: Poppins, serif;
    font-size: 4vh;
    text-align: center;
}

.drill-create-submit-button {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-content: center;

    color: white;
    background-color: #AEE583;
    border: none;
    border-radius: 4px;
}

.drill-custom-location-text {
    font-style: italic;
}

.drill-custom-location-field {
    margin-top: 10px;
}

.chosen-field-multi {
    width: 100%;
}