@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    font-size: 2.2vh;
    font-family: 'Poppins';
    --text-primary: #b6b6b6;
    --text-secondary: #acd7ec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #d6edff;
    --color-dark: #636949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);    
}

* {
    margin: 0;
    padding: 0;
}

/* custom scrollbar */
body::-webkit-scrollbar {
width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #8b95c9;
}
    
    
    
       body{
        font-family: 'Poppins';
        font-size: 2.2vh;
        background: white;
           /* min-height: 100vh;*/     
          }


    /*      #Scrollbar{
        var(--color-info-light);
            max-height: 500px;
            overflow-x: hidden; /* Hide horizontal scrollbar */
        /*    overflow-y: scroll; /* Add vertical scrollbar */ 
         /* }  

*/
/*#acc*/

       #rank{
        font-family: 'Poppins';
        font-size: 2.2vh; 
        /*position: relative;
        margin: 20px auto;*/
        width: 100%;
        border: 1px solid #acc ;
       /* border-bottom-width: 2px;*/
       padding-left: 11px;
       
       }

 #workCenter{
        font-family: 'Poppins';
        font-size: 2.2vh; 
        /*position: relative;
        margin: 20px auto;*/
        width: 100%;
        border: 1px solid #acc ;
       /* border-bottom-width: 2px;*/
       padding-left: 11px;
       }

       #flight{
        font-family: 'Poppins';
        font-size: 2.2vh; 
        /*position: relative;
        margin: 20px auto;*/
        width: 100%;
        border: 1px solid #acc ;
       /* border-bottom-width: 2px;*/
       padding-left: 11px;
       }

#placeholder{
    color:gray;
}


       
#asterisk{
    color: red;
}


 /*   #label{
        padding-left: 5px;
      
    }*/
 
    
        .container{
          
            width: 95vw;
           position: relative;
       /* top: 50%;
          left: 50%; 
          transform: translate(-50%,-50%); */
        
        /*  border-radius: 20px;*/
          padding:25px;
          margin:50px auto 0;
          background: rgb(255, 255, 255) ;
         /*box-shadow: 0 5px 10px rgb(0,0,0);*/
         margin-top: 2px;
         
         justify-content: space-between;
        /* border-style:solid;
         border-color: #030f18;*/
        }
    
        .container h1{
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
            
           
        }
    
        .container form{
         
          position: relative;
           padding: 0 40px;
           box-sizing:  border-box;
           background-color: #fff;
         
        }
    
    
   
/*
#2691d9
*/
        
    input[type = "submit"]{
    
    font-family:'Poppins' ;
    width: 100%;
    height: 45px;
    border: 1px solid;
    background: #030f18;
    border-radius: 5px;
    font-size: 2.2vh;
    color: #e9f4fb;
    font-weight:500;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    
    }
    
    
    
    input[type= "submit"]:hover{
    
     border-color: #2691d9;
     transition: .5s;
    
    
    }
    
   
    
    
    
    form .user-details .input-box{
       position: relative;
        margin: 20px auto;
        width: 60%;
        
    
    }

    

/*
    
  #name{
        width: 40%;
        padding: 8px 0 8px 40px;
        
    }

    #mail{
       width:75%;
       padding: 8px 0 8px 40px;
    }


    #phone{
        width:75%;
        padding: 8px 0 8px 40px;
    }


    .input-box span{
        margin-left:35px ;
    }
*/
    
    .user-details .input-box .details{
    
     align-items: center;
     justify-content: space-between;
        font-weight: 500;
    /*   margin-bottom: 5px;
     /*  margin-top: 30px; */
    
    }
    
    
    .user-details .input-box input{
      height: 30px;
      width:100%;
      outline: none;
      border: 1px solid #acc ;
      padding-left: 15px;
      font-size: 2.2vh;
      /*border-bottom-width: 2px;*/
      transition: all 0.3s ease;
      font-family:'Poppins' ;
      
      font-style: normal;
      color: gray;
      

    }
    
    
    /*.user-details .input-box input:focus,
    .user-details .input-box input:valid{
    
        border-color: #0f0214;
    }*/


   
