<html>
<head>
    <title>Login Error</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="style_for_login_page.css">


</head>

<style>

    





</style>


    <form action="login_page.html" method="post">


 <div class = "center">

    <h2>Invalid user name or password.</h2>
    

    <p>Please enter a user name or password that is authorized to access this 
    application.  Click here to <button type="submit">Try Again</button></p>



</div>

</form>


<script>



    
</script>