<DOCTYPE html>
    <html>
        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>Registration page</title>


            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
            <!-- stylesheet -->
            <link rel="stylesheet" href="style_for_registration_form.css">
            <!-- Add icon library -->
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
      </head>

<style>




</style>



            


<form action="#" method="post" id="Scrollbar">
   



     <div class ="container">

      <h1> New User Registration</h1>

         <div class = "user-details" id = "Scrollbar">



            <div class="input-box">


                <label>Full name:</label>
                <i class="fa fa-user" ></i>
                <input type="text" placeholder="Enter your full name" required>




            </div>

            <div class="input-box">


                <label>User name:</label>
                <i class="fa fa-user" ></i>
                <input type="text" placeholder="Enter your user name" required>
                



            </div>

            


            <div class="input-box">


                <span class ="details">Officer Id:</span>
                <i class="fa fa-id-card" ></i>
                <input type="number" id="quantity" name="quantity" min="1" max="100000" placeholder="Enter your id" required >
                

            </div>



            <div class="input-box">


                <span class ="details">Email:</span>
                <i class="fa fa-envelope" ></i>
                <input type="email" name= "mail" id="mail" placeholder="Enter your email" required minlength="8">
                



            </div>


            
            <div class="input-box">


                <span class ="details">Phone number:</span>
                <i class="fa fa-phone" ></i>
                <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                



            </div>




            <div class="input-box">


                <span class ="details">Rank:</span>
                <i class="fa fa-info" aria-hidden="true"></i>
                <input type="text"  placeholder="Enter your rank" required>
                



            </div>






            <div class="input-box">


                <span class ="details">Date of Birth:</span>
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                <input type="date" id="birthday" placeholder="Enter your Date of Birth" name="birthday"  required>
                



            </div>


            
            




            <div class="input-box">


                <span class ="details">Password:</span>
                <i class="fa fa-lock"></i>
                <input type="password" id=" psw" placeholder="Enter your password" name="psw" required>
                



            </div>



            <div class="input-box">


                <span class ="details">Confirm password:</span>
                <i class="fa fa-lock" ></i>
                <input type="password" id=" psw" placeholder="Confirm your password" name="psw" required>
                



            </div>



            


            







            <div class="marital ">


            <fieldset>

                <legend>Your Marital Status </legend>
  
                  <input type="radio" id="married" name="drone" value="married" >
                  <label for="male">Married</label>
  
                  <input type="radio" id="Single" name="drone" value="Single">
                  <label for="Female">Single</label>
  
  
              </fieldset>





            </div>


            <div class="input-box">

            <br>
                <label>Address:</label>
                <i class = "fa fa-address-book" > </i>
            </br>
                <textarea class="textarea" placeholder="Enter  your Street address , City,  State and Zip code" rows="4" cols="25" required></textarea>
                
               


            </div>

            

            


         </div>

         <div>
            <input type="submit" value="register">
        </div>
     

    </div>




</form>

    <script>

        const email = document.getElementById("mail");


email.addEventListener("input", (event) => {
  if (email.validity.typeMismatch) {
    email.setCustomValidity("I am expecting an e-mail address!");
    email.reportValidity();
  } else {
    email.setCustomValidity("");
  }
});









    </script>



























