 


<DOCTYPE html>
    <html>
        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>Registration page</title>


            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
            <!-- stylesheet -->
            <link rel="stylesheet" href="style_for_registration_form.css">
            <!-- Add icon library -->
          
    
    
      </head>
     

<style>


</style>
           


<form th:action="@{/register}" th:object="${newUser}" method="post" id="register-form" class="register-form" >
     
     <div class ="container">

      <h1> New User Registration</h1>

         <div class = "user-details" id = "details">

            <div class="input-box">

          
                
                <label for = "fname">First Name:</label>
                
                <input type="text" id="name" th:name = "firstName"  placeholder="Enter your first name" required>


            <span>

                <label for = "lname">Last Name:</label>
                
                <input type="text" id ="name" th:name="lastName"  placeholder="Enter your last name" required>

            </span>
          


            </div>

        

            <div class="input-box">

            
                <label for ="military mail">Mil Email: </label>
               
                <input type="email" th:name= "militaryEmail"  id="mail" placeholder="Enter your Military email" required minlength="8">


             <span>

                
                <label for = "civilian mail">Civ Email:  </label>
                
                <input type="email" th:name= "civilianEmail"  id="mail" placeholder="Enter your Civilian email" required minlength="8">


             </span>
             

            </div>

            

            
            <div class="input-box">
            
                <label for ="personal" >Personal Phone: </label>
                
                <input type="tel" id="phone" th:name="phoneNumber"  placeholder="Enter your Peronal Phone number(optional)"  >

                <span>

                    <label for ="office">Office Phone: </label>
               
                    <input type="tel" id="phone" th:name="officeNumber" placeholder="Enter your Office Phone number(optional) " >


                </span>
    

            </div>

                    <label for ="rank">Rank</label>
                      <select id = "Rank" th:name="rank">

                    <option value = "Rank">Select your Rank</option>
                    <option value = "Private First Class">Private First class</option>
                    <option value = "Specialist">Specialist</option>
                    <option value = "Corporal">Corporal</option>
                    <option value = "Sergeant">Sergeant</option>
                    <option value = "Staff Sergeant">Staff Sergeant</option>
                    <option value = "Sergeant first class">Sergeant first class</option>
                    <option value = "Master Sergeant">Master Sergeant</option>
                    <option value = "First Sergeant">First Sergeant</option>
                    <option value ="Sergeant Major">Sergeant Major</option>
                    <option value="Command Sergeant Major">Command Sergeant Major</option>
                    <option value = "Sergeant Major of the Army">Sergeant Major of the army</option>
                    <option value = "Second Lieutenant">Second Lieutenant</option>
                    <option value = "First Lieutenant">First Lieutenant</option>
                    <option value="Captain">Captain</option>
                    <option value = "Major">Major</option>
                    <option value = "Lieutenant Colonel"> Lieutenant Colonel</option>
                    <option value = "Colonel">Colonel</option>
                    <option value = "Brigadier general">Brigadier general</option>
                    <option value = "Major general">Major general</option>
                    <option value = " Lieutenant General">Lietenant General</option>
                    <option value = "General of the army">General of the army</option>
                    <option value="Lieuteneat">Lieutenant</option>

                      </select>
               

                     <div class="input-box">

                     
                        <label for = "Workcenter">Workcenter:</label>
                        
                        <input type="text" id = "workCenter" th:name="workCenter" placeholder="Enter your Workcenter " required>


                        <span>

                            
                        <label for="flight">Flight:</label>
                        
                        <input type="text" id="flight" th:name="flight" placeholder="Enter your flight" required>    


                        </span>
        
                    </div>

                 
         </div>

         <div>
            <input type="submit" value="register">
        </div>
     

    
</div>


</form>

    <script>

        const email = document.getElementById("mail");


email.addEventListener("input", (event) => {
  if (email.validity.typeMismatch) {
    email.setCustomValidity("I am expecting an e-mail address!");
    email.reportValidity();
  } else {
    email.setCustomValidity("");
  }
});

  





    </script>



























